<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.iotex.pebble"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.PebbleApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_pebble_large"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_pebble_large"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".pages.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/app_launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.activity.DevicePanelActivity"
            android:label="@string/device"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.AboutActivity"
            android:label="@string/about"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.SettingActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.HistoryActivity"
            android:label="@string/history"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.CreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.OwnershipActivity"
            android:label="@string/ownership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.TransferOwnershipActivity"
            android:label="@string/transfer_ownership"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.NftListActivity"
            android:label="@string/meta_pebble_nfts"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.NftDetailActivity"
            android:label="@string/meta_pebble_nft"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pages.activity.ActivateCompleteActivity"
            android:label="@string/device"
            android:screenOrientation="portrait" />

    </application>

</manifest>